<!-- _layouts/page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ site.keyword }}">
    <title>{{ page.title }} - {{ site.SEOTitle }}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relative_url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | relative_url }}">

    <!-- Custom Fonts -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Navigation (可选，如果你不需要导航栏，可以删除) -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title }}</a>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    {{ content }}

    <!-- Footer (可选，如果你不需要页脚，可以删除) -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">
                        Copyright © {{ site.title }} 2025
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ "/js/jquery.min.js" | relative_url }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | relative_url }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/hux-blog.min.js" | relative_url }}"></script>
</body>
</html>
